parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    paths:
        - %rootDir%/../../..

    excludes_analyse:
        - .idea/
        - var/
        - vendor/
        - ../../../Gyselroth/Helper/HelperMongoDB.php

    scanFiles:
      - ../../../vendor/gyselroth/html-purifier-filters/src/Gyselroth/htmlPurifierFilters/IframeFilter.php

    dynamicConstantNames:
        - APPLICATION_PATH

    universalObjectCratesClasses:
        - DOMNode

    ignoreErrors:
        - '#^Call to an undefined method DOMNode#'
        - '#^Call to an undefined method DOMDocument|DOMElement|DOMNodeList#'
        - '#^Call to method .* on an unknown class MongoDb_Contents#'
        - '#^Instantiated class MongoDb_Contents not found#'
