parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    paths:
        - %rootDir%/../../..

    excludes_analyse:
        - .idea/
        - var/
        - vendor/
        - ../../../Gyselroth/Helper/HelperMongoDB.php

    scanFiles:
      - ../../../vendor/gyselroth/html-purifier-filters/src/Gyselroth/htmlPurifierFilters/IframeFilter.php

    dynamicConstantNames:
        - APPLICATION_PATH

    ignoreErrors:
